# Machine Learning - Classification

## Will the project be completed?

This Jupyter notebook contains a classification test case where,
given some input data, we'll try to predict whether a project will completed or not.

In [1]:
# Imports
import pandas as pd
import seaborn as sns

In [2]:
# Data
data = pd.read_csv('../data/projects.csv')
data.head()

   unfinished  expected_hours  price
0           1              26    192
1           1              88   9015
2           1              89   2577
3           1              42    275
4           1              39    170

### Features

As we can see by the data, we have the following features:
- **hours:** the amount of hours expected for the project
- **price:** the amount of money the buyer would pay

And we have the classification:
- **unfinished:** whether the project was left unfinished

For the 'unfinished' column, we have a binary representation:
- 1: left unfinished
- 0: finished

For the others, we have numeric values.

In [5]:
# Replace the 'unfinished' column with a 'finished' column
# First, create the 'finished' column 
data['finished'] = data.unfinished.map({0: 1, 1: 0})
data.tail()

      unfinished  expected_hours  price  finished
2152           0              80   7518         1
2153           1              52   1332         0
2154           0              40    473         1
2155           0              75   5324         1
2156           1              37    377         0

In [9]:
# Then, drop the 'unfinished' column
data = data.drop(columns=['unfinished'])
data.tail()

      expected_hours  price  finished
2152              80   7518         1
2153              52   1332         0
2154              40    473         1
2155              75   5324         1
2156              37    377         0